@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #cd61a9;
  --foreground: #42bd48;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c377a9;
    --foreground: #027c08;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-magnifico);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
